<div ng-controller="discoverController">
  <h1>Profile Activity</h1>
  <div class="btn-group">
      <label class="btn  secondary-nav-button" ng-model="vm.radioModel" uib-btn-radio="'saved'">Saved</label>
      <label class="btn secondary-nav-button" ng-model="vm.radioModel" uib-btn-radio="'posts'">Posts</label>
      <label class="btn secondary-nav-button" ng-model="vm.radioModel" uib-btn-radio="'subscriptions'">Subscriptions</label>
      <label class="btn secondary-nav-button" ng-model="vm.radioModel" uib-btn-radio="'comments'">Comments</label>
  </div>
  <br></br>
  <div ng-show="vm.radioModel=='saved'" >
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4">
        <ui-select ng-model="vm.subreddits.selected" theme="bootstrap">
          <ui-select-match placeholder="Filter by Subreddit">Filter by Subreddit: {{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="item in vm.subreddits | filter: $select.search">
            <div ng-bind-html="item | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <br></br>
<div class="container">
<div class="row browse" ng-repeat="p in vm.data" style="padding-bottom:20px;">
    <md-divider class="divider-custom" ></md-divider>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-1 numbers">
    <div class="row"></div>
    <div class="row"> <h2 style="text-align:right; padding-top: 20px;">{{p.votes}}</h2></div>
    <div class="row"></div>

  </div>

      <div class="col-sm-1 text-right">
        <div class="container votes" style="text-align:center;">
          <div class="row">
        <span ng-click="vm.toggleUp(p); p.votes = p.votes + 1;" class="glyphicon glyphicon-triangle-top hover" style="padding-top:10px" ng-style="{ 'color' : (p.upArrow) ? '#9E9E9E' : '#616161'}"></span>
      </div>
          <div class="row">
        <span ng-click="vm.toggleDown(p); p.votes = p.votes - 1;" class="glyphicon glyphicon-triangle-bottom hover" ng-style="{ 'color' : (p.downArrow) ? '#9E9E9E' : '#616161' }"></span>
      </div>
        </div>
      </div>
    <div class="col-sm-1 text-left">
         <div ng-show="p.pic != null"><img src={{p.pic}} alt="Cat pic" class="row-image"> </div>
    </div>
      <div class="col-sm-7 text-left">
        <div class ="container">
          <div class="row">
            <a href="#/comments" class="post-btn-title">
              <h2 class="post-title">{{p.postTitle}}</h2>
              <h3>{{p.source || "N/A"}}</h3>
            </a>
          </div>
          <div class="row" style="color:#9E9E9E;">
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;" >
        <span class="glyphicon glyphicon-share hover" ng-click="vm.toggleShare(p)" ng-style="{ 'color' : (p.share) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>

            </div>
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;">
        <span class="glyphicon glyphicon-star hover" ng-click="vm.toggleFav(p)" ng-style="{ 'color' : (p.fav) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>
            </div>
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;">
        <span class="glyphicon glyphicon-flag hover" ng-click="vm.toggleFlag(p)" ng-style="{ 'color' : (p.flag) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>
            </div>
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;">
        <span class="glyphicon glyphicon-comment hover" ng-click="vm.toggleComment(p)" ng-style="{ 'color' : (p.comment) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>
            </div>

          </div>

        </div>
      </div>
</div>
</div>
  </div>
  <br>
  <div ng-show="vm.radioModel=='posts'" >
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4">
        <ui-select ng-model="vm.subreddits.selected" theme="bootstrap">
          <ui-select-match placeholder="Filter by Subreddit">Filter by Subreddit: {{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="item in vm.subreddits | filter: $select.search">
            <div ng-bind-html="item | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <br></br>
<div class="container">
<div class="row browse" ng-repeat="p in vm.data" style="padding-bottom:20px;">
    <md-divider class="divider-custom" ></md-divider>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-1 numbers">
    <div class="row"></div>
    <div class="row"> <h2 style="text-align:right; padding-top: 20px;">{{p.votes}}</h2></div>
    <div class="row"></div>

  </div>

      <div class="col-sm-1 text-right">
        <div class="container votes" style="text-align:center;">
          <div class="row">
        <span ng-click="vm.toggleUp(p); p.votes = p.votes + 1;" class="glyphicon glyphicon-triangle-top hover" style="padding-top:10px" ng-style="{ 'color' : (p.upArrow) ? '#9E9E9E' : '#616161'}"></span>
      </div>
          <div class="row">
        <span ng-click="vm.toggleDown(p); p.votes = p.votes - 1;" class="glyphicon glyphicon-triangle-bottom hover" ng-style="{ 'color' : (p.downArrow) ? '#9E9E9E' : '#616161' }"></span>
      </div>
        </div>
      </div>
    <div class="col-sm-1 text-left">
        <div ng-show="p.pic != null"><img src={{p.pic}} alt="Cat pic" class="row-image"> </div>
    </div>
      <div class="col-sm-7 text-left">
        <div class ="container">
          <div class="row">
            <a href="#/comments" class="post-btn-title">
              <h2 class="post-title">{{p.postTitle}}</h2>
              <h3>{{p.source || "N/A"}}</h3>
            </a>
          </div>
          <div class="row" style="color:#9E9E9E;">
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;" >
        <span class="glyphicon glyphicon-share hover" ng-click="vm.toggleShare(p)" ng-style="{ 'color' : (p.share) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>

            </div>
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;">
        <span class="glyphicon glyphicon-star hover" ng-click="vm.toggleFav(p)" ng-style="{ 'color' : (p.fav) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>
            </div>
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;">
        <span class="glyphicon glyphicon-flag hover" ng-click="vm.toggleFlag(p)" ng-style="{ 'color' : (p.flag) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>
            </div>
            <div class="col-sm-1 iconsPost" style="padding-left: 0px;">
        <span class="glyphicon glyphicon-comment hover" ng-click="vm.toggleComment(p)" ng-style="{ 'color' : (p.comment) ? '#9E9E9E' : '#616161' }" rel="tooltip"></span>
            </div>

          </div>

        </div>
      </div>
</div>
</div>
  </div>
  <div ng-show="vm.radioModel=='subscriptions'" >
    <div class="row" ng-repeat="c in vm.subreddits" ng-click="vm.subredditSelected(c)">
      <div class="col-md-offset-4 col-md-1 text-right row-item">
        <span class="glyphicon glyphicon-minus"></span>
      </div>
      <div class="col-md-5 text-left row-item">
        <h2 class="discover-text">{{c}}</h2>
      </div>
  </div>
  <div ng-show="vm.radioModel=='comments'" >

  </div>

</div>
