<div ng-controller="browseController">
<h1> / {{vm.title}} </h1>
<div> <!--- add dropdown here -->
	sort by<span class="caret"></span>
</div>
<div class="post-btn-div">
	<a href ="#/make-post" class="post-btn">
		<span class="glyphicon glyphicon-pencil"></span> Post
	</a>
</div>
<br></br>
<div class="container"> <!-- this is needed for the bootstrap grid i'm using here -->
<div class="row browse" ng-repeat="p in vm.data" style="padding-bottom:20px;">
		<md-divider class="divider-custom" ></md-divider>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-1 numbers">
		<div class="row"></div>
		<div class="row">	<h2 style="text-align:right; padding-top: 20px;">{{p.votes}}</h2></div>
		<div class="row"></div>

	</div>

      <div class="col-sm-1 text-right">
      	<div class="container votes" style="text-align:center">
      		<div class="row">
				<span ng-click="p.votes = p.votes + 1" class="glyphicon glyphicon-triangle-top hover" style="padding-top:10px;"></span>
			</div>
      		<div class="row">
				<span ng-click="p.votes = p.votes - 1" class="glyphicon glyphicon-triangle-bottom hover"></span>
			</div>
      	</div>
      </div>
		<div class="col-sm-1 text-left">
				<img src="https://i.redd.it/5gf5qfi61jsx.jpg" alt="Cat pic" class="row-image">
		</div>
      <div class="col-sm-7 text-left">
      	<div class ="container">
      		<div class="row">
		        <a href="#/comments" class="post-btn-title">
		          <h2 class="post-title">{{p.postTitle}}</h2>
		          <h3>{{p.source || "N/A"}}</h3>
		        </a>
      		</div>
      		<div class="row" style="color:#9E9E9E;">
      			<div class="col-sm-1" style="padding-left: 0px;">
				<span class="glyphicon glyphicon-share hover "rel="tooltip" title="share"></span>

      			</div>
      			<div class="col-sm-1" style="padding-left: 0px;">
				<span class="glyphicon glyphicon-star hover" rel="tooltip" title="star"></span>
      			</div>
      			<div class="col-sm-1" style="padding-left: 0px;">
				<span class="glyphicon glyphicon-flag hover" rel="tooltip" title="flag"></span>
      			</div>
      			<div class="col-sm-1" style="padding-left: 0px;">
				<span class="glyphicon glyphicon-comment hover" rel="tooltip" title="comment"></span>
      			</div>

      		</div>

      	</div>
      </div>
</div>
</div>
</div>
