<div ng-controller="browseController">
	<!--<br></br>-->
<script type="text/ng-template" id="myPopoverTemplate.html">
		<div class="form-group" style="left: -90px; width: 200px;" >
		<div class="input-group">
		 	<input type="text" ng-model="vm.dynamicPopover.link" class="form-control"  placeholder="add a link...">
		 		<span class="input-group-btn">
					<button class="btn btn-default" ng-click="vm.closePopover(); vm.currentPost.hasLink=true"type="button">add</button>
		 		</span>
	 	</div><!-- /input-group -->
		</div>
</script>
<div class="view-container container"> <!-- this is needed for the bootstrap grid i'm using here to control the width of the rows -->
<!--
<div class="row">
	<div class="title-container">
	<h1> {{vm.title}} </h1>
	<div class="post-btn-div"  ng-click="vm.makePost=true">
		<div class="post-btn">
			<span class="glyphicon glyphicon-pencil"></span>
		</div>
	</div>
</div>
</div>
-->
<!-- make a post-->
<!-- <div class="animated slideInDown"> -->
<div class="row post-container make-post-container" ng-show="vm.makePost">
<div class="row" ng-click="vm.makePost=true">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="vm.currentPost.title" placeholder="Post to @"{{vm.currentFeed}}>
	</div>
</div>
<div class="row" ng-show="vm.makePost" style="color:#9E9E9E;">
	<div class="col-sm-1" style="padding-left: 0px;">
		<span ng-class="{'hasLink': vm.currentPost.hasLink}" class="glyphicon glyphicon-link hover " popover-placement="bottom" popover-is-open="vm.isOpen" uib-popover-template="vm.dynamicPopover.templateUrl"></span>
	</div>
	<div class="col-sm-1" style="padding-left: 0px;">
		<span ng-class="{'hasPic': vm.currentPost.hasPic}" ng-click="vm.currentPost.hasPic=true" class="glyphicon glyphicon-picture hover" type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)"
						accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"></span>
	</div>
	<div class="col-sm-9 text-right" >
		<button type="button" class="btn btn-default" ng-click="vm.postData();vm.makePost=false ">Post</button>
		<button type="button" class="btn btn-default" ng-click="vm.clearPostData(); vm.makePost=false">Cancel</button>
	</div>
</div>
</div>
</div>

<!-- filter-->
<div class="row view-container-all" >

<!--post browser -->
<div class="posts-div" style="margin-top: -15px;">
	<!--
<div class="sort-container">
	<ui-select class="sort-container" ng-model="vm.selectedSortField" theme="bootstrap">
		<ui-select-match class="sort-container"  placeholder="Order By">Order By: {{$select.selected}}</ui-select-match>
		<ui-select-choices class="sort-container" repeat="item in vm.sortFields | filter: $select.search">
			<div ng-click="vm.sortPostsBy(item)" class="sort-container" ng-bind-html="item | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>
</div>
-->
<div class="scrollable">
	<div class="row browse row-border" ng-click="vm.setDetail(p)" ng-class="{'selectedPost': p.id==vm.selectedPost}"  ng-repeat="p in vm.data">
		<div class="row-container">
			<div class="arrows-container" >
				<span ng-click="vm.toggleUp(p);" class="glyphicon glyphicon-triangle-top hover" ng-style="{ 'color' : (p.upArrow) ? '#9E9E9E' : '#616161'}"></span>
				<div class="vote-count">
					<h2 class="vote-count-text">{{p.votes}}</h2>
				</div>
				<span ng-click="vm.toggleDown(p);" class="glyphicon glyphicon-triangle-bottom hover" ng-style="{ 'color' : (p.downArrow) ? '#9E9E9E' : '#616161' }"></span>
			</div>
			<div ng-show="p.pic != null">
				<img src={{p.pic}} alt="Cat pic" class="row-image">
			</div>
      <div class="post-container">
        <h2 class="post-title">{{p.postTitle}}</h2>
        <h3>{{p.source || "N/A"}}</h3>
      </div>
		</div>
	</div>
</div>
</div>
<div class="post-content scrollable">
	<h1>
	{{vm.detail.postTitle}}
	</h1>
	<div class="post-btn-div text-right">
		<a class="post-btn" >
			<span ng-click="vm.star()" class="glyphicon glyphicon-star" ng-class="{'starred': vm.detail.saved}" ></span> Star
		</a>
		<a class="post-btn">
			<span ng-click="vm.flag()" class="glyphicon glyphicon-flag" ng-class="{'flagged': vm.detail.flagged}"></span> Flag
		</a>
		<a class="post-btn">
			<span ng-click="vm.scrollToComments()" class="glyphicon glyphicon-comment"></span> Comment
		</a>
	</div>
	<br></br>
	<img src={{vm.detail.pic}} alt="Cat pic" height="auto" width="50%">

	<!-- disqus comments right here -->
	<div ng-init="vm.init()">
		<dir-disqus config="disqusConfig"></dir-disqus>
	</div>
</div>
</div>
</div>
</div>
