.row-item {
  padding-top:7px;
  padding-bottom:7px;
}
.page-content{
  margin-top:100px;
  margin-left:100px;
}
.subscribe-button{
  background-color: rgba(215, 215, 215, .5);
}
.subscribe-button:active,
.subscribe-button:focus {
    background-color: rgba(215, 215, 215, .7);
    border-color: rgba(215, 215, 215, .7);
}
.subscribe-button:hover{
  background-color: rgba(215, 215, 215, .5);
  border-color: rgba(215, 215, 215, .5);
}
.subscribe-button:visited{
    background-color: rgba(215, 215, 215, 1);
    border-color: rgba(215, 215, 215, 1);
}

#redditIcon { /* this is for the icon in the navbar, probably a better fix to push up */

  margin-top: -15px;
}
.secondary-nav-button{
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: :#212121!important;
  border-color: currentColor;
}
.secondary-nav-button:hover{
  background-color:#9E9E9E;
}
.secondary-nav-button.active,.secondary-nav-button.focus, .secondary-nav-button.hover, .secondary-nav-button.visited{
  background-color:#9E9E9E;

}

.navbar { /* TODO: the rounded border should be removed here */
  background-color: #9E9E9E;
  border: 0;

}

.glyphicon {
  font-size: 1.4em;
}

.navbar-inverse .navbar-nav>li>a{
  color: #F5F5F5;
}

ul.nav a:hover {
  color: #616161 !important;
}

.glyphicon-arrow-up {
  color: #FF5252;
}

.glyphicon-arrow-down {
  color: #FF5252;
  /*font-size: 2.2em;*/
}

.votes {
  width: auto;
  margin: 0 auto;
  margin-top: 10%;
}
/*
.glyphicon-share:hover,
.glyphicon-share:visited,
.glyphicon-share:{
  color: #0000e5;
}
.glyphicon-comment:hover,
.glyphicon-comment:visited{
  color: #add8e6;
}
.glyphicon-star:hover,
.glyphicon-star:active{
  color: #FFFF66;
}
.glyphicon-flag:hover:hover,
.glyphicon-flag:active{
  color: #FF5252;
}
*/
.glyphicon-plus:hover,
.glyphicon-plus.active{
  color: #add8e6;
}

.browse {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.divider-custom{
  color: #BDBDBD;
}

.article-icons {
  margin-top: 3%;
}

.vote-count {
  padding-left: 5%;
}

.post-btn:hover{
  text-decoration: none; /* remove link underline */
  color:black;
}

.post-btn {
  color: #FF5252;
  padding: 10px;
}

.post-btn-div {
  text-align: right;
  padding-right: 50px;
  display: inline-flex
}

.post-input {
  text-align: left;
 /* display: inline-block; */
}

.post-hdr {
  padding-bottom: 50px;
}

.input {
  padding-bottom: 15px;
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif !important;
  font-style: normal !important;
  font-variant: normal !important;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  color: #212121 !important;
}
h2 {
  font-size: 16px;
  font-weight: 500;
  color: #212121 !important;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  font-size: 12px;
  font-weight: 500;
  color: #757575 !important;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 12px;
  font-weight: 400;
  color: #212121 !important;
}
/*    font-family:  'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}*/
